<div class="container">
  <form class="demo-form">
    <w-mat-timepicker color="primary" [(userTime)]="time"></w-mat-timepicker>
  </form>
</div>

<mat-card>
  <mat-card-content>
      <w-time color="primary" [(userTime)]="time"></w-time>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
      <w-time color="accent" [(userTime)]="time"></w-time>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-content>
      <w-time color="warn" [(userTime)]="time"></w-time>
  </mat-card-content>
</mat-card>