.w-timepicker {
    display: flex;
    flex-direction: row;
    max-height: 100%;
    height: 310px;
}

.w-timepicker .w-timepicker-time-container {
    padding: 15px;
    margin-right: 30px;
    width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.w-timepicker .w-timepicker-time-container.mat-toolbar-single-row {
    height: 100%;
}

.w-timepicker .w-timepicker-selected-time {
    font-size: 3rem;
    display: flex;
}

.w-timepicker .w-timepicker-selected-ampm {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: .5em;
}

.w-timepicker-selected-time>span,
.w-timepicker-selected-ampm>span {
    outline: 0;
    opacity: 0.5;
}

.w-timepicker-selected-time>span:not(.active),
.w-timepicker-selected-ampm>span:not(.active) {
    cursor: pointer;
}

.w-timepicker-selected-time>span.active,
.w-timepicker-selected-ampm>span.active {
    opacity: 1;
}

.w-animate-next {
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 1px);
    transform: translate3d(50%, 0, 1px);
}

.w-animate-next-remove {
    -webkit-transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.5s cubic-bezier(0.35, 0, 0.25, 1);
    opacity: 0;
    -webkit-transform: translate3d(50%, 0, 1px);
    transform: translate3d(50%, 0, 1px);
}

.w-animate-next-remove-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}

.w-animate-prev {
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 1px);
    transform: translate3d(-50%, 0, 1px);
}

.w-animate-prev-remove {
    -webkit-transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    opacity: 0;
    -webkit-transform: translate3d(-50%, 0, 1px);
    transform: translate3d(-50%, 0, 1px);
}

.w-animate-prev-remove-active {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 1px);
    transform: translate3d(0, 0, 1px);
}

@-webkit-keyframes w-animation-bounce {
    from {
        opacity: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes w-animation-bounce {
    from {
        opacity: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    70% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.w-animation-zoom.ng-enter {
    -webkit-transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    transition: all 0.3s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-name: w-animation-bounce;
    animation-name: w-animation-bounce;
}