
html,
body,
material-app,
article {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', Verdana, Gotham, sans-serif;
    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    overflow: hidden;
    margin: 0;
    padding: 0;
}
